
h3 Pages
div.column-group
ul.all-80
  each location in locals.sitemap
    li
      a(href=location.href)= location.menu.name
ul.all-20
  each location in locals.extmap
    li.menubutton
      a(href=location.href)
        i.fa.fa-lg(class=location.menu.icon)
