h3 Twitter

each tweet in locals.tweets
  div.tweet.column-group
    div.all-90
      h5
        strong.tweet-name !{tweet.name}
        span.tweet-at &nbsp; !{tweet.at}
      p.tweet-content= tweet.content
    div.all-10
      h6.tweet-date=tweet.date
