

block append content
  div#sidebar.all-25.small-100
    div.hotlinks
      include sidebar-hotlinks
    div.signup
       include sidebar-signup
  div#content.all-75.small-100
    | !{page.html}

extends site

