h3 Form

form.ink-form.column-group
  div.control.all-100
    input.all-100#name(type="text",placeholder="Your Name")
  div.control.all-100
    input.all-100#company(type="text",placeholder="Company Name")
    input.all-100#position(type="text",placeholder="Position")
  div.column-group.control-group.all-100
    div.control.all-50
      input.all-100#email(type="email",placeholder="Email")
    div.control.all-50
      input.all-100#phone(type="text",placeholder="Phone")
  div.control.all-100
    input.all-100#display(type="text",placeholder="Display Name")
  div.control.column-group.all-100
      div.all-50 &nbsp;
      input.push-right.all-50(type="submit",value="SUBMIT")
