h3 Categories
ul
  li
    a(href='#') Lorem Ipsum Dolor
  li
    a(href='#') Lorem Ipsum Dolor
  li
    a(href='#') Lorem Ipsum Dolor
  li
    a(href='#') Lorem Ipsum Dolor
  li
    a(href='#') Lorem Ipsum Dolor

