// /* MIT License, (c) 2013  Elizabeth Marston */


block append header
  include ie.html
  nav
    ul
      li.logo
      each location in locals.sitemap
        li(class=location.menu.class)
          a(href=location.href)= location.menu.name

extends stock

