// /* MIT License, (c) 2013  Elizabeth Marston */


block append header
  include ie.html
  nav.all-100
    ul
      li.logo
        a(href='/')
          img(src='raster/logo.png',alt='Company Name')
      include nav-sitemap
      include nav-extmap
  img.all-100(src='/raster/dummy.png',alt='spinner')

block append footer
  div.all-33
    include footer-pages
  div.all-33
    include footer-twitter
  div.all-33
    include footer-newsletter

block append page
  include copyright

extends stock

