doctype html
html(lang=locals.language.code,itemscope,itemtype="http://schema.org/Article")
  head
    include logic
    include meta
    include link
    include icon
    include style
    block head
    title
      - var t = (page) ? page.title + ' - ' + locals.name : locals.name;
      | !{t}
  body.ink-grid#body(ng-controller="Site")
    block page
      header.main.column-group(role='heading')
        block header
      main.column-group(role='main')
        block content
      footer.main.column-group(role='complementary')
        block footer

