


local-accent-color = #D0D0D0
local-highlight-color = #F0F0F0
local-background-color = #130005
local-action-color = #205590
local-corner-radius = 10px

local-headline-font()
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 36pt;
  font-weight: 400;
  color: local-action-color

local-font()
  font-family: 'Source Sans Pro', 'Open Sans', Helvetica, serif;
  color: local-accent-color
  font-size: 16pt
  font-weight: 300

// vim: expandtab :
