


local-accent-color =  #066b4d
local-highlight-color = #06a978
local-gutter-color = #706e6f
local-background-color = #d7d7d7
local-action-color = #06a978
local-corner-radius = 0px

local-headline-font()
  font-family: 'Source Sans Pro', 'Open Sans', Helvetica, serif;
  font-size: 36pt;
  font-weight: 400;
  color: local-action-color

local-font()
  font-family: 'Source Sans Pro', 'Open Sans', Helvetica, serif;
  color: local-accent-color
  font-size: 16pt
  font-weight: 300

// vim: expandtab :
