/* MIT License, (c) 2013 Elizabeth Marston */



body
  background-color local-gutter-color
  local-font()
  h1, h2, h3, h4
    local-headline-font()
nav
  box-shadow 2px 2px 2px #101010
  background-color local-highlight-color
  color white
  a
    color: white
    &:hover
    &:active
    &:focus
      text-decoration: underline
  li
    padding: 1em;
    display: inline-block
    &.nav-selected
      text-decoration: underline;



main
  background-color local-background-color
  box-shadow 2px 2px 2px #101010

footer.main
  background-color local-accent-color
  color white

::-moz-selection
::selection
  color: local-action-color
  background-color: local-background-color

