/* site.styl - put your styles here */

@import 'nib'

@media screen and (min-width: 651px)
  body
    background-image: url(https://undoware-cdn.appspot.com/raster/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:  fixed

@media screen and (max-width: 650px)
  body
    & > *
      max-width 800px
      margin 0 auto
      padding 1em
      &:first-child
        border-radius: top 4px
        margin-top: 64px
      &:last-child
        border-radius: bottom 4px
  
  main
    padding 2em
  
  .white
    background-color white
  
  .black
    background-color black
    color white
  
  
  li.help
    display inline-block
    margin-left auto
  
  
  footer.footer
    opacity: 0.90
  
  
  #text
    resize: both
    min-height: 128px
  
  #send.grey
    color: grey
    background-color: #AAA
  
  .alerts
    display: block
    visibility: hidden
    & > div
      position: absolute
      top:0
      left:0


